#about {
  background-color: #fff;
  padding-bottom: 66px;
  overflow: hidden;
}

#about a,
#about a:visited {
  color: #fff;
}
#about a:hover,
#about a:focus {
  color: #0762f9;
}

<<<<<<< HEAD
#about h2 {
  font: "opensans-bold", sans-serif;
  margin-bottom: 12px;
  text-align: center;
}
#about p {
  line-height: 30px;
}
=======
>>>>>>> dev-esempi-flex
#about .profile-pic {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
#about .contact-details {
  width: 41.66667%;
}
#about .download {
  width: 58.33333%;
  padding-top: 6px;
}
#about .main-col {
  padding-right: 5%;
}
#about .download .button {
  margin-top: 6px;
  background: #444;
}
#about .download .button:hover {
  background: #fff;
  color: #2b2b2b;
}
#about .download .button i {
  margin-right: 15px;
  font-size: 20px;
}

/* custom */
.section-img {
  background-color: white;
}

.img-block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  width: 300px;
  background-color: white;
  border: 2px solid rgb(95, 95, 95);
  margin: 20px;
  border-radius: 8px;
  padding: 20px;
}

<<<<<<< HEAD
.container {
  list-style: none;
  padding: 0 50px;
}

.inline-b {
  max-width: 1200px;
}

.item {
  padding: 5px;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  width: 200px;
}

.inline-b-item {
  display: inline-block;
  margin: 0;
  margin-bottom: 0;
=======
.skill p{
  line-height: 25px;
}

.container {
  background-color: white;
  padding: 0 50px;
}

.item {
  margin: 5px 0;
  padding: 0;
  padding-left: 5px;
  color:#206984;
  border-left: 5px solid #cc5200;
  font-family: sans-serif;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: wrap row;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
>>>>>>> dev-esempi-flex
}
