#about {
  background-color: #fff;
  padding-bottom: 66px;
  overflow: hidden;
}

#about a,
#about a:visited {
  color: #fff;
}
#about a:hover,
#about a:focus {
  color: #0762f9;
}

#about h2 {
  font: 22px/30px "opensans-bold", sans-serif;
  margin-bottom: 12px;
}
#about p {
  line-height: 30px;
}
#about .profile-pic {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
#about .contact-details {
  width: 41.66667%;
}
#about .download {
  width: 58.33333%;
  padding-top: 6px;
}
#about .main-col {
  padding-right: 5%;
}
#about .download .button {
  margin-top: 6px;
  background: #444;
}
#about .download .button:hover {
  background: #fff;
  color: #2b2b2b;
}
#about .download .button i {
  margin-right: 15px;
  font-size: 20px;
}

/* custom */
.section-img {
  background-color: white;
}

.img-block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  width: 300px;
  background-color: white;
  border: 2px solid rgb(95, 95, 95);
  margin: 20px;
  border-radius: 8px;
  padding: 20px;
}

#examples {
  background: #ebeeee;
  padding-top: 90px;
  padding-bottom: 60px;
}

#examples h1 {
  font: 15px/24px "opensans-semibold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 48px;
  color: #95a3a3;
}

.container {
  background-color: white;
  padding: 0 50px;
}

.item {
  margin: 0;
  padding: 0;
  color:#00aeef;
  font-weight: bold;
  padding: 5px;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: wrap row;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}
