* {
  box-sizing: border-box;
}

.App {
  text-align: left;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row h2,h3,h4,h5 {
  font-family: "Raleway", sans-serif;
}

.row p {
  font-family: 'Noto Serif', serif;
}

.row > h2{
  text-align: center;
  margin: 50px 0;
}

.row > p {
  text-align: center;
  padding: 0 20px;
}

.row h5{
  text-align: center;
}

.bg {
  /* The image used */
  background-image: url("components/logo_resize.png");
  margin-bottom: 50px;
  /* Full height */
  height: 90vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
